  
	
		
		header h4 {
                
	        	font-size:1.5em;
			color: white;
			padding-bottom: 0;
			margin-bottom: 0; 
			
	
		}

		#contenedor header {
    
			display: flex;
    			background-image: url('../img/atenea.jpg');
    			background-position: center center;
    			background-size: cover;
    			background-repeat: no-repeat;
    			justify-content: center;
    			align-items: flex-end;
			height: 200px;
		}

		#contenedor {
	   
            		display: flex;
			font-family: Arial, sans-serif;
            		flex-direction: column;
			justify-content: center;
			
            		min-height: 100vh;
            		text-align: center;
			background: linear-gradient(to left, #c0c0c0, #f0f0f0);
			padding: 0;
        
		}

        	main {
			
			display: flex;
			flex-direction: column;
		    	flex: 1;
            		background-color: #fff;
			background: linear-gradient(to left, #c0c0c0, #f0f0f0);
			background-image: url('../img/menu.png');
            		background-size: contain;
            		background-repeat: no-repeat;
            		background-position: center; 
            		min-height: 100vh;
	
			
       		 }
		
		main h2 {
		
		    	flex:1;
			margin-bottom: 20px;
			color: green;
			width: 100%;
		

		}
		
		#contenedor > h2 {
			
			color: blue;
			
		}
						
		#resultado {
			
            		flex: 1;
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
          
		}	
		
		
		#precio {
	           
		        flex: 1;   
			width: 280px;
			align-self: center;
		
		}
		
		
		#pie {
		    
			flex: 1;
            		font-size: 1.2em;
            		color: green;
            		padding: 10px;

        
		}
		
		
		
	
		
		    /* Estilo para resaltar elementos específicos y tabular el resto */
	
		#resultado li {
		
			margin: 5px;
			padding: 0;
			font-size: 1.2em;
			color: #e3179f;
		}

		#resultado li.resaltado {
	
			font-weight: bold;
			font-size: 1.5em;
			color: red;
	  
		}
		
  
		

    @media (min-width: 375px) and (max-width: 2400px) {
     		
	    header, main, footer {
           	padding: 15px;
      	   }
	  
	  main h2 {
                      
            margin-top: 125px;
            
            
    } 
       	
	  
    } 	
		
